<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <div class="home_image">
        <h1 style="font-size: 625%;"><b>Collabin </b></h1>

        <p><b>{{ tagline }}</b></p>


        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <img class="profile-img" src="../images/collabin-1.png"
                             alt="">
                        <form class="form-signin">
                            <input type="text" class="form-control" placeholder="Email" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <button class="btn btn-lg btn-warning btn-block" type="submit">
                                Sign in</button>
                            <label class="checkbox pull-left">
                                <input type="checkbox" value="remember-me">
                                Remember me
                            </label>
                            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                        </form>
                        <a href="#" class="text-center new-account">Create an account </a>
                    </div>

                </div>
            </div>
        </div>
        <!--SIGN UP FORM-->
        <!--<div class="sign-up-form">-->
            <!--<form class="form-horizontal">-->
                <!--<fieldset>-->

                    <!--&lt;!&ndash; Form Name &ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="jumbotron">&ndash;&gt;-->
                    <!--<legend class="sign-up-legend">Sign-->
                    <!--Up</legend>-->

                    <!--&lt;!&ndash; Text input&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-5 control-label" for="name">First Name</label>-->

                        <!--<div class="col-md-2">-->
                            <!--<input id="name" name="name" type="text" placeholder="" class="form-control input-md">-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Text input&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-5 control-label" for="lname">Last Name</label>-->

                        <!--<div class="col-md-2">-->
                            <!--<input id="lname" name="lname" type="text" placeholder="" class="form-control input-md">-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Password input&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-5 control-label" for="password">Password</label>-->

                        <!--<div class="col-md-2">-->
                            <!--<input id="password" name="password" type="password" placeholder=""-->
                                   <!--class="form-control input-md">-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Text input&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-5 control-label" for="email">Email</label>-->

                        <!--<div class="col-md-2">-->
                            <!--<input id="email" name="email" type="text" placeholder="john_doe@collabin.com"-->
                                   <!--class="form-control input-md" required="">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Button &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-4 control-label" for="button_signup"></label>-->

                        <!--<div class="col-md-4">-->
                            <!--<button id="button_signup" name="button_signup" class="btn btn-warning">Sign Up</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->
            <!--</form>-->
        <!--</div>-->
    </div>
</div>

