<!-- public/views/home.html -->
<script>
    $(document).ready(function () {
        $("input#submit").click(function(){
            $.ajax({
                type: "POST",
                url: "process.php", // To change from php
                data: $('form.contact').serialize(),
                success: function(msg){
                    $("#thanks").html(msg)
                    $("#form-content").modal('hide');
                },
                error: function(){
                    alert("failure");
                }
            });
        });
    });
</script>

<div class="jumbotron text-center container-fluid" >
    <!--<h1 style="font-size: 600%;"><b>Collabin </b></h1>-->
    <!--<p><b>{{ tagline }}</b></p>-->
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <h1 style="font-size: 600%;"><b>Collabin </b></h1>
                <p><b>{{ tagline }}</b></p>
                <!--<img class="profile-img" src="../images/collabin%20title-1.png" alt="">-->

                <!--asdkfalksdjflakdsflka-->
                <form class="form-signin">
                    <input id="email" type="text" class="form-control" placeholder="Email" required autofocus>
                    <input id="password" type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-warning btn-block" type="submit">
                        Sign in
                    </button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
                <a href="#" class="text-center new-account">Create an account </a>

                <div id="form-content" class="modal hide fade in" style="display: none;">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>Create an Account</h3>
                    </div>
                    <div class="modal-body">
                        <form class="contact" name="contact">
                            <label class="label" for="name">Your Name</label><br>
                            <input type="text" name="name" class="input-xlarge"><br>
                            <label class="label" for="email">Your E-mail</label><br>
                            <input type="email" name="email" class="input-xlarge"><br>
                            <label class="label" for="password">Create a Password</label><br>
                            <input type="password" name="password" class="input-xlarge">
                            <!--<textarea name="message" class="input-xlarge"></textarea>-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Send!" id="submit">
                        <a href="#" class="btn" data-dismiss="modal">Nah.</a>
                    </div>
                </div>
                <div id="thanks"><p><a data-toggle="modal" href="#form-content" class="text-center new-account">Create an Account</a></p></div>
            </div>
            <!--ksadfhaksjfdhkjdasdhfkadjf-->
            </div>
        </div>
    </div>
</div>


