<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="center-image">
            <img class="img-responsive img-rounded" src="../images/emily1.png">

            <h2> User Name</h2>

            <div class="add-inventory-button">

                <button class="btn-warning btn btn-sm center-block" type="submit" data-toggle="modal"
                        data-target="#inventoryModal">
                    <span class="glyphicon glyphicon-plus"></span> Inventory
                </button>
            </div>
        </div>
        <ul class="sidebar-nav center-block">
            <li ng-repeat="inventory in inventories">
                <table class="table borderless">
                    <li>
                    <td><a href="#">{{ inventory.name }}</a></td>
                    <td><button class="btn-danger btn btn-xs center-block" type="submit"><span
                            class="glyphicon glyphicon-minus"></span></button></td>
                    </li>
                </table>
            </li>
        </ul>
    </div>
    <!-- #sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Table header -->
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h2>Iventory Name</h2>

                <div class="btn-toolbar" style="display: inline-block">
                    <a href="#menu-toggle" class="btn btn-warning" id="menu-toggle"><span
                            class="glyphicon glyphicon-menu-left"></span> Menu</a>

                    <p href="" class="btn btn-warning" data-toggle="modal" data-target="#itemModal"><span
                            class="glyphicon glyphicon-plus"></span> Item</p>

                    <p href="" class="btn btn-warning" data-toggle="modal" data-target="#collaboratorsModal">
                        Collaborators</p>

                </div>
            </div>

            <!-- Item header -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Owner</th>
                    <th class="text-center">Item</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Image</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | orderBy:orderProp">
                    <td style="vertical-align: middle">{{ item.owner }}</td>
                    <td style="vertical-align: middle">{{ item.name }}</td>
                    <td style="vertical-align: middle">{{ item.quantity }}</td>
                    <td style="vertical-align: middle"><img class="img-responsive" src={{item.image}}></td>
                    <td style="vertical-align: middle">
                        <div class="btn-group-vertical">
                            <button class="btn-warning btn btn-xs center-block" type="submit" data-toggle="modal"
                                    data-target="#editItemModal"> Edit
                            </button>
                            <button class="btn-danger btn btn-xs center-block" type="submit"> Remove</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- #page-content-wrapper -->

    <!-- Modal Add Inventory -->
    <div id="inventoryModal" class="modal fade" role="dialog" ng-controller="InventoryController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Add Inventory</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Inventory name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text" ng-model="inventory.name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-toolbar" style="display: inline-block">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="createInventory()">
                            Add
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Add Item-->
    <div id="itemModal" class="modal fade" role="dialog" ng-controller="InventoryController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button ="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Add Item</h3>
                </div>type
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Amount:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--upload image-->
                            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <!-- image-preview-filename input [CUT FROM HERE]-->
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                        <span class="input-group-btn">
                                            <!-- image-preview-clear button -->
                                            <button type="button" class="btn btn-default image-preview-clear"
                                                    style="display:none;">
                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                            </button>
                                            <!-- image-preview-input -->
                                            <div class="btn btn-default image-preview-input">
                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                <span class="image-preview-input-title">Browse</span>
                                                <input type="file" accept="image/png, image/jpeg, image/gif"
                                                       name="input-file-preview"/> <!-- rename it -->
                                            </div>
                                        </span>
                                </div>
                                <!-- /input-group image-preview [TO HERE]-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-toolbar" style="display: inline-block">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add Collaborators Modal-->
    <div id="collaboratorsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Add Collaborator</h3>
                </div>
                <div class="modal-body">
                    <div class="jumbotron container-fluid"
                         style="background-color: #9D3A21!important; border-radius: 10px;">
                        <h3 class="center" style="text-align: center; color: white"> Current Collaborators: </h3>

                        <ul style="text-align: center">
                            <li class="center"
                                style="color: white; display: inline-block; font-size: large;"
                                ng-repeat="collaborator in collaborators">
                                {{collaborator.name + "&nbsp&nbsp&nbsp"}}
                            </li>
                        </ul>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">User Name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-toolbar" style="display: inline-block">
                        <button type="button" class="btn btn-warning">Add</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Edit Item-->
    <div id="editItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit Item</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Amount:</label>

                            <div class="col-lg-8">
                                <input class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--upload image-->
                            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <!-- image-preview-filename input [CUT FROM HERE]-->
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                        <span class="input-group-btn">
                                            <!-- image-preview-clear button -->
                                            <button type="button" class="btn btn-default image-preview-clear"
                                                    style="display:none;">
                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                            </button>
                                            <!-- image-preview-input -->
                                            <div class="btn btn-default image-preview-input">
                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                <span class="image-preview-input-title">Browse</span>
                                                <input type="file" accept="image/png, image/jpeg, image/gif"
                                                       name="input-file-preview"/> <!-- rename it -->
                                            </div>
                                        </span>
                                </div>
                                <!-- /input-group image-preview [TO HERE]-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-toolbar" style="display: inline-block">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#wrapper -->

<!-- will toggle the responsive side menu -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<!--javascript for previewing image-->
<script src="../js/preview_image.js"></script>
